/* styles/global.css */
.react-calendar {
    width: 80%;
    height: 375px;
    max-width: 50%;
    border: none; 
    margin: 0 auto;
  }
  
  @media (max-width: 768px) { /* Cambiar el valor según tus necesidades */
    .react-calendar {
        max-width: 90%;
    }
}
  .react-calendar__tile {
    max-width: 100%;
    text-align: center;
    /* padding: 0.5em; */
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .react-calendar__tile--now {
    background: #f58585;
    border-radius: 15px;

    /* border-radius: 50%; */
  }
  
  .react-calendar__tile--active{
    /* background: #f58585; */
    /* color: white; */
    border-radius: 5px;
  }

  .react-calendar__month-view__days__day{
    height:48px!important;
  }
  
/* Custom class targeting */
.react-calendar abbr:where([title]) {
  text-decoration: none;
}

.react-calendar__tile--active {
  color: initial;
}

.react-calendar__tile--active {
  background: darkgray!important; 
  color: white;
  border-radius: 16px;
}

.react-calendar__tile--now {
  background: darkgray!important;
  color:white;
}